[data-anime]{
    opacity: 0;
    transition: all .3s;    
}

[data-anime="left"]{
    transform: translateX(-5rem);
}

[data-anime="right"]{
    transform: translateX(0);
}

[data-anime="up"]{
    transform: translateY(5rem);
}

[data-anime].animate{
    opacity: 1;
    transform: translate(0);
}