.main_site{
	
}

/* header */
.header1{
	width:100vw;
	margin-left:-6%;
	height:40px;
	padding: 0 5%;
	display:flex;
	justify-content:space-between;
	align-items:center;
	position:relative;
	background:#fff;
	box-shadow:0 3px 3px var(--bg-color);
	z-index:999;
}
.header1 h1{
	width:60px;
	height:30px;
	line-height:0;
	margin-top:-15px;
	color:var(--primary-color);
	display:flex;
	justify-content:center;
	align-items:center;
}
.header1 .menu_toggle{
	width:25px;
	height:25px;
}
.header1 .menu_toggle span{
	width:100%;
	position:relative;
	height:3px;
	transition:0.5s;
	top:3px;
	background: var(--primary-color);
	display:block;
}
.header1 .menu_toggle span:before,
.header1 .menu_toggle span:after{
	content:"";
	position:absolute;
	height:3px;
	background: var(--primary-color);
	display:block;
}
.header1 .menu_toggle span:before{
	top:7px;
	width:90%;
	left:10%;
}
.header1 .menu_toggle span:after{
	top:14px;
	width:80%;
	left:20%;
}
.header1 .menu_toggle_active span{
	transform:rotate(45deg);
	background:var(--secondary-color);
	transition:0.5s;
	top:10px;
}
.header1 .menu_toggle_active span:before{
	transform:rotate(-90deg);
	background:var(--secondary-color);
	transition:0.5s;
	top:0;
	left:0;
	width:100%;
}
.header1 .menu_toggle_active span:after{
	top:0;
	background:var(--secondary-color);
	transition:0.5s;
}
.header2{
	width:100vw;
	padding:20px 0;
	position:absolute;
	left:0;
	top:-101%;
	z-index:99;
	background:#fff;
	transition:0.5s;
	box-shadow:0 3px 3px #ddd;
}
.header_active{
	top:40px;
	transition:0.5s;
	z-index:99;
}
.header2 .contact_me{
	display:flex;
	width:100%;
	height:40px;
	align-items:center;
	justify-content:center;
	z-index:99;
}
.header2 .contact_me p{
	display:block;
	margin-left:10px;
	font-weight:700;
	font-size:1.2em;
}

.header2 .menu{
	width:90%;
	margin:0 auto;
	z-index:99;
}
.header2 .menu ul li .sub_menu li a,
.header2 .menu ul li .link_menu{
	background:var(--secondary-color);
	display:block;
	width:100%;
	height:30px;
	margin:5px 0;
	display:flex;
	cursor:pointer;
	position:relative;
	align-items:center;
	justify-content:space-between;
	padding:0 10px;
	font-weight:500;
	color:var(--text-color);
}
.header2 .menu ul li .sub_menu li a{
	background:var(--primary-color);
	color:#fff;
}
.header2 .menu ul li .link_menu span{
	font-weight:800;
	color:var(--primary-color);
	transition:0.5s;
}
.header2 .menu ul .dropdown_active span{
	transform:rotate(45deg);
	transition:0.5s;
}
.header2 .menu ul li .sub_menu{
	display:none;
	width:98%;
	margin-left:2%;
}
.header2 .menu ul li .sub_menu_active{
	display:block;
}

/* Hero */
.hero{
	width:100vw;
	padding:0 5%;
	position:relative;
	left:-6%;
	background:url(../img/bg.jpg) no-repeat;
	background-size:cover;
	height:calc(100vh - 40px);
}
.hero:before{
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:7;
	background:var(--light-pink-color);
	opacity:0.5;
}
.hero .hero_container{
	position:relative;
	z-index:9;
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:space-between;
}
.hero .hero_container .hero_image{
	display:none;
	width:100vw;
	height:100%;
	position:relative;
	bottom:0;
	left:-5%;
	z-index:10;
	display:flex;
	align-items:flex-end;
	justify-content:center;
	overflow:hidden;
}
.hero .hero_container .hero_image img{
	width:auto;
	height:100%;
}
.hero .hero_container .hero_content{
	height:100%;
	width:100vw;
	position:absolute;
	top:0;
	left:-5%;
	z-index:11;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	background:#ffffff88;
	align-items:center;
}
.hero .hero_container .hero_content h1{
	font-size:4em;
	color:var(--primary-color);
	position:relative;
	z-index:10;
}
.hero .hero_container .hero_content h3{
	padding:5px 10px;
	background:url(../img/bgtitle.png) no-repeat;
	background-size:cover;
	text-transform:uppercase;
	letter-spacing:-1px;
	margin-top:1em;
	font-size:1.2em;
}
.hero .hero_container .hero_content .button{
	width:100%;
	height:40px;
	margin:10px 0;
	display:flex;
	justify-content:center;
	align-items:center;
}
.hero .hero_container .hero_content .button a{
	display:inline-block;
	width:90px;
	height:35px;
	display:flex;
	justify-content:flex-start;
	align-items:center;
	background:#fff;
	color:var(--secondary-color);
	font-weight:600;
	font-size:.8em;
	position:relative;
	text-transform:uppercase;
	transition:0.5s ease-in;
	margin:10px;
}
.hero .hero_container .hero_content .button a span{
	width:35px;
	height:35px;
	margin-right:10px;
	background:var(--secondary-color);
	display:flex;
	justify-content:center;
	align-items:center;
	transition:0.5s ease-in;
}
.hero .hero_container .hero_content .button a:last-child{
	width:135px;
	color:var(--primary-color);
}
.hero .hero_container .hero_content .button a:last-child span{
	background:var(--primary-color);
}
.hero .hero_container .hero_content .button a:hover{
	background:var(--secondary-color);
	color:var(--text-color);
	transition:0.5s ease-in;
}
.hero .hero_container .hero_content .button a:hover:last-child{
	background:var(--primary-color);
	color:#fff;
	transition:0.5s ease-in;
}
.hero .hero_container .hero_content .button a:hover span img{
	transform:rotateY(180deg);
	transition:0.5s ease-in;
}
.hero .hero_container .hero_content p{
	width:70%;
	padding:10px 0;
	font-weight:600;
	text-align:center;
}
/* About */
.about{
	width:100vw;
	position:relative;
	left:-5%;
	padding:0 5%;
	background:var( --bg-color);
	height:auto;
	padding:40px 0;
}
.about_img{
	width:280px;
	height:280px;
	position:relative;
	background-color: var(--primary-color);
	margin:0 auto;
}
.about_img img{
	width: 100%;
	height:auto;
	display:block;
	margin:0 auto;
	position: absolute;
	top:15px;
	left:15px;
}
.title_about{
	display:flex;
	justify-content: space-around;
	align-items:center;
	height:100px;
	width:100%;
	margin:40px 0;
}
.title_about .title{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:flex-start;
}
.title_about .title span{
	font-size:1em;
	line-height:0.8em;
}
.title_about .title h2{
	font-size:5em;
	line-height:1em;
	color:var(--secondary-color);
	text-transform:uppercase;
}
.title_about .title h2 span:first-child{
	color:var(--primary-color);
}
.title_about .title h2 span:last-child{
	color:var(--text-color);
}
.separ span{
	display:block;
	width:45px;
	height:45px;
	background: var( --bg-color);
	position:relative;
	top:0;
	left:-50px;
	z-index:10;
	transform:rotate(45deg);
	border:2px solid var(--secondary-color);
}
.separ span:before,
.separ span:after{
	content:"";
	width:100%;
	background: var( --bg-color);
	height:100%;
	position:absolute;
}
.separ span:before{
	z-index:8;
	top:-20px;
	left:20px;
	border:2px solid var(--primary-color);
}
.separ span:after{
	z-index:8;
	top:-42px;
	left:42px;
	border:2px solid var(--text-color);
}
.about_text{
	padding:0 20px 20px;
}
.redes_sociais{
	width:100%;
	height:50px;
	margin:10px 0;
	position:relative;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:0 10px;
}
.icons_redes_sociais{
	width:auto;
	height:100%;
	display:flex;
	justify-content: flex-start;
	align-items: center;
	position:relative;
	left:10px;
}
.icons_redes_sociais a{
	cursor:pointer;
	transition: 0.5s ease-in-out;
}
.icons_redes_sociais a:hover svg{
	fill:var(--primary-color);
	transition: 0.5s ease-in-out;
}
.icons_redes_sociais svg{
	width:25px;
	height:25px;
	margin:5px;
	fill:#424242;
}
.pontos{
	display:block;
	position:relative;
	background:var(--bg-color);
	width:25px;
	height:25px;
	border-radius:100%;
	margin-right:5px;
	border:2px solid var(--text-color);
}
.pontos:before,
.pontos:after{
	content:"";
	width:18px;
	height:18px;
	display:block;
	position:absolute;
	border:2px solid var(--secondary-color);
	left:-30px;
	border-radius:100%;
}
.pontos:after{
	width:15px;
	height:15px;
	left:-55px;
	top:2px;
	border:2px solid var(--primary-color);
}
/* Conhecimentos */
.conhecimentos{
	display:flex;
	height:850px;
	width:100vw;
	background: #fff;
	padding: 0 5%;
	margin-top: 40px;
	flex-direction:column;
	align-items: center;
	justify-content: center;
}
.conhecimentos .conhecimento_img{
	width:100%;
	height:50%;
	position: relative;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.conhecimentos .conhecimento_img img{
	height:80%;
}
.conhecimentos .conhecimento_img  p{
	display: flex;
	height:40px;
	align-items: center;
	margin-top:-20px;
}
.conhecimentos .conhecimento_img span{
	content:"";
	display:block;
	width:15px;
	height:15px;
	background:var(--primary-color);
	margin:0 2px 0 2px;
}
.conhecimentos .conhecimento_img span:first-child{
	background:var(--secondary-color);
}
.conhecimentos .conhecimento_img span:last-child{
	background:var(--text-color);
}
.conhecimentos .conhecimentos_content{
	width:100%;
	height:50%;
	position: relative;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.conhecimentos .conhecimentos_content h2{
	text-transform: uppercase;
	letter-spacing: -2px;
	position:relative;
	width: auto;
	font-size:1.3em;
	color:var(--secondary-color);
}
.conhecimentos .conhecimentos_content h2:after,
.conhecimentos .conhecimentos_content h2:before{
	content:"";
	width:15px;
	height:15px;
	display: block;
	border-style:solid;
	border-width:2px 0 0 2px;
	border-color:var(--primary-color);
	position:relative;
	top:0;
	left:-10px;
}
.conhecimentos .conhecimentos_content h2:after{
	top:auto;
	bottom:0;
	border-width:0 2px 2px 0;
	border-color:var(--text-color);
	left:auto;
	right:-10px;
}
.conhecimentos_skills{
	display:block;
	position:relative;
	width:90%;
	margin:0 auto;
	border:1px solid var(--bg-color);
	height:10px;
}
.conhecimentos_skills p{
	text-transform: uppercase;
	color:var(--text-color);
	font-weight:700;
	position:absolute;
	top:-20px;
}
.conhecimentos_skills div{
	height:100%;
	background: var(--primary-color);
	display:block;
}
.conhecimentos_skills div.html{
		width:95%;
}
.conhecimentos_skills div.css{
		width:85%;
}
.conhecimentos_skills div.js{
		width:75%;
}
.conhecimentos_skills div.react{
		width:65%;
}
.conhecimentos_skills div.php{
		width:50%;
}
/* Templates */
.templates{
	width:100%;
	padding:30px 0;
}
.templates h2{
	display:flex;
	justify-content: center;
	position:relative;
	height:45px;
	align-items: center;
}
.templates h2 p{
	text-align:center;
	text-transform:uppercase;
	color:var(--primary-color);
	font-size:0.7em;
	font-weight:700;
	position: relative;
	z-index:10;
	letter-spacing: -2px;
	padding:20px 0 0;
}
.templates h2 span{
	width:25px;
	height:25px;
	border:2px solid var(--secondary-color);
	background:#fff;
	transform:rotate(45deg);
	position:relative;
	margin-left: -15px;
	margin-top:15px;
	z-index:7;
	display:inline-block;
}
.templates h2 span:after{
	content:"";
	width:15px;
	height:15px;
	border:2px solid var(--text-color);
	background:#fff;
	position:relative;
	margin-left: 10px;
	top:-25px;
	z-index:7;
	display:inline-block;
}
.templates p{
	text-align:center;
	font-weight:400;
}
.menu_toggle_templates{
	width:30px;
	height:30px;
	margin-top:10px;
	position:absolute;
	right:0;
	border-top:10px solid var(--primary-color);
	border-left:10px solid var(--primary-color);
	transform:rotate(-45deg);
	transition: 0.5s ease-in-out;
	z-index:90;
}
.menu_templates{
	width:240px;
	height:auto;
	position:absolute;
	right:-101%;
	margin-top:10px;
	background:var(--bg-color);
	padding:10px;
	transition: 0.5s ease-in-out;
	z-index:90;
}
.menu_templates ul li{
	padding:10px;
	font-size:1.6em;
	font-weight:500;
	background:var(--secondary-color);
	margin:5px 0;
}

.menu_templates_active{
	right:0;
	transition: 0.5s ease-in-out;
}
.menu_toggle_templates_active{
	right:250px;
	transform:rotate(135deg);
	transition: 0.5s ease-in-out;
}
.templates_content{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top:30px;
}
.template_item{
	width:280px;
	height:280px;
	position:relative;
	margin:10px;
}
.template_item .template_img{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	transform-origin:bottom;
	transform:translateY(0) rotateX(0deg);
	transition: 0.5s;
}
.template_item:hover .template_img{
	transform:translateY(-100%) rotateX(90deg);
}
.template_item .template_img img{
	width:100%;
	height:auto;
}
.template_item .content_templates{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding:10px;
	overflow:hidden;
	background:var(--secondary-color);
	transform-origin:top;
	transform:translateY(100%) rotateX(-90deg);
	transition: 0.5s;
}
.template_item:hover .content_templates{
	transform:translateY(0) rotateX(0deg);
}
.template_item .content_templates h3{
	font-family:var(--cursive-font);
	font-size:2em;
	font-weight:700;
	color:var(--text-color);

}
.template_item .content_templates p{
	padding:10px 0;
	font-weight:700;
}
.template_item .content_templates a{

}
.template_item .content_templates a{
	background:var(--secondary-color);
	display:flex;
	width:200px;
	height:40px;
	justify-content: space-around;
	align-items: center;
	position:relative;
	background:var(--primary-color);
	color:#fff;
	font-weight:800;
	transition:0.5s ease-in-out;
}
.template_item .content_templates a:hover{
	color:#fff;
	background:var(--text-color);
	transition:0.5s ease-in-out;
}
.content_templates img{
	width:100px;
	height:auto;
}
@keyframes anima_arrow{
	from{
		left:-5px;
	}
	to{
		left:5px;
	}
}
.template_item .content_templates a svg{
	fill:#fff;
	position: relative;
	z-index:12;
}
.template_item .content_templates a:after{
	content:"";
	position: absolute;
	width:60px;
	height:100%;
	right:0;
	top:0;
	background:var(--text-color);
	z-index:10;
}
.template_item .content_templates a:hover svg{
	animation: anima_arrow 0.2s alternate infinite;
}
#item{
	display: none;
}
.show_item{
	display: block !important;
}

/* Blog */
.blog{
	width:100vw;
	height:auto;
	position:relative;
	left:-5%;
	padding:30px 5%;
	background:var(--bg-color);
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}
.blog h2{
	display:flex;
	width:100%;
	justify-content: center;
	align-items: center;
	height:50px;
}
.blog h2 p{
	text-transform: uppercase;
	color:var(--text-color);
	font-weight:700;
	letter-spacing: -2px;
	position: relative;
	margin-left: 0px;
	z-index:10;
	text-align: left;
	position: relative;
	z-index:10;
	background:#fff;
	padding:0 10px;
}
.blog h2 span:first-child{
	width:25px;
	height:25px;
	background: var(--bg-color);
	border-radius:100%;
	display:block;
	position:relative;
	z-index:12;
	top:-16px;
	left:12px;
	opacity:0.8;
	border:4px solid var(--primary-color);
}
.blog h2 span:last-child{
	width:25px;
	height:25px;
	background: var(--bg-color);
	border-radius:100%;
	display:block;
	position:relative;
	z-index:13;
	bottom:-15px;
	right:10px;
	opacity:0.8;
	border:4px solid var(--secondary-color);
}

.blog .info_blog{
	padding:10px;
	font-size:1.3em;
	font-weight:500;
}
.blog_item{
	width:280px;
	height:374px;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin:10px 0;
	background:#fff;
}
.blog_item .blog_img{
	width:280px;
	height:50%;
}
.blog_item:nth-child(1) .blog_content,
.blog_item:nth-child(3) .blog_content,
.blog_item:nth-child(2) .blog_img,
.blog_item:nth-child(4) .blog_img{
	order:1;
}
.blog_item:nth-child(2) .blog_content,
.blog_item:nth-child(4) .blog_content,
.blog_item:nth-child(1) .blog_img,
.blog_item:nth-child(3) .blog_img{
	order:2;
}
.blog_item img{
	width: 100%;
}
.blog_item .blog_content{
	width:100%;
	height:50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.blog_item .blog_content h3{
	font-family: var(--cursive-font);
	font-size:2em;
	font-weight: 700;
	color:var(--primary-color);
}
.blog_item .blog_content p{
	padding:0 10px;
	font-size:0.9em;
	font-weight: 500;
}
.blog_link{
	color:var(--primary-color);
	transition: 0.5s;
	font-weight: 600;
}
.blog_link:hover{
	color:var(--text-color);
	transition: 0.5s;
}
.btn_blog{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height:30px;
	margin-top:40px;
}
.btn_blog a{
	display:inline-block;
	width:250px;
	height:50px;
	font-size:1.5em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background:var(--primary-color);
	color:#fff;
	font-weight: 500;
	transition: 0.5s;
}
.btn_blog a svg{
	display: inline-block;
	width:20px;
	height:20px;
	fill:#fff;
	position: relative;
	transition: 0.5s;
}
.btn_blog a:hover{
	background: var(--text-color);
	transition: 0.5s;
}
.btn_blog a:hover svg{
	animation: anima_arrow 0.2s alternate infinite;
}
/* portfolio */
#portfolio{
	width: 100vw;
	height: auto;
	position: relative;
	background: #fff;
	margin: 40px 0 -40px;
}
#portfolio h2{
	font-family: var(--cursive-font);
	font-size: 3em;
	padding-top: 40px;
	color: var(--primary-color);
	position: relative;
	z-index: 10;
}

#portfolio h2 div{
	width: 10px;
	height: 10px;
	background: var(--text-color) ;
	display: inline-block;
	position: relative;
	top: 30px;
	right: 15px;
}
#portfolio h2 div:before,
#portfolio h2 div:after{
	content: "";
	width: 10px;
	display: block;
	height: 10px;
	background: var(--primary-color) ;
	display: inline-block;
	position: absolute;
	top: 0;
	left: -15px;
}
#portfolio h2 div:before{
	left: -30px;
	background: var(--secondary-color) ;
}
#portfolio .portfolio_info{
	margin: 60px auto 10px;
	width: 90%;
	padding: 10px 0 20px;
	font-weight: 500;
	font-size: 1em;
	border-bottom: 2px solid var(--bg-color);
}

.portfolio{
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
}
.portfolio h2{
	font-size: 1.2em;
	text-align: center;
	width: 80%;
	margin: 10px auto;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: 700;
	color: var(--primary-color);
}
.portfolio h2:after,
.portfolio h2:before{
	content:"";
	width:15px;
	height:15px;
	display: block;
	border-style:solid;
	border-width:2px 0 0 2px;
	border-color:var(--secondary-color);
	position:relative;
	top:0;
	left:-10px;
}
.portfolio h2:after{
	top:auto;
	bottom:0;
	border-width:0 2px 2px 0;
	border-color:var(--text-color);
	left:auto;
	right:-10px;
}
.slide_portfolio{
	width: 90%;
	height: auto;
	margin: 0 auto;
}
.slide_portfolio .portifolio_item{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.slide_portfolio .portifolio_item img{
	width: 100%;
	height: auto;
}
.slide_next,
.slide_prev{
	position: absolute;
	bottom:-7px;
	cursor: pointer;
	right: 10px;
}
.slide_prev{
	right: 60px;
	bottom: -3px;
	transform: rotate(180deg);
}
.slide_next svg,
.slide_prev svg{
	width: 30px;
	height: 30px;
	fill: var(--primary-color);
}
.slick-dots{
	display: flex;
}
.slick-dots li button{
	width: 15px;
	height: 15px;
	font-size: 0;
	border-radius: 100%;
	margin: 5px;
	cursor: pointer;
	background: var(--secondary-color);
}
.slick-active button{
	background: var(--primary-color) !important;
}