@media(min-width: 768px){
	.menu_toggle{display:none;}
	header{
		width:100vw;
		height:40px;
		padding:0 5%;
		left:0;
		position:absolute;
		display:flex;
		background:#fff;
		box-shadow:0 3px 3px #ddd;
		display:flex;
		margin:0;
		justify-content:space-between;
		align-items:center;
	}
	.header2,
	.header1{
		position:static;
		width:auto;
		margin:0;
		display:flex;
		justify-content:center;
		align-items:center;
		box-shadow:none;
	}
	.header1{
		width:100px;
		background:transparent;
	}
	.header2{
		width:calc(100% - 250px);
		background:transparent;
	}
	.header2 .menu ul{
		display:flex;
		justify-content:center;
		align-items:center;
	}
	.header2 .menu ul li .link_menu{
		margin:0 5px;
		width:auto;
		background:transparent;
	}
	.header2 .menu ul li {
		position:relative;
	}
	.header2 .menu ul li .dropdown span{
		padding-left:10px;
	}
	.header2 .menu ul li .sub_menu{
		background:#fff;
		padding:5px;
		box-shadow:0 3px 3px #ddd;
	}
	.header2 .menu ul li .sub_menu_active{
		width:auto;
	}
	.sub_menu_active{
		position:absolute;
		top:40px;
		left:10px;
	}
	.header2 .contact_me{
		width:200px;
		height:40px;
		position:absolute;
		top:35px;
		right:0;
	}
	/* hero */
	.hero{
		height:500px;
	}
	.hero .hero_container{
		height:500px;
		flex-direction:row;
		justify-content:center;
		align-items:center;
	}
	.hero .hero_container .hero_image{
		display:none;
		width:50%;
		height:100%;
		position:relative;
		bottom:auto;
		left:auto;
		z-index:10;
		display:flex;
		align-items:flex-end;
		justify-content:flex-start;
		overflow:hidden;
	}
	.hero .hero_container:before{
		content:"";
		width:100vw;
		height:100%;
		background:#ffffff88;
		position:absolute;
		right:-6%;
		top:0;
		z-index:16;
	}
	.hero .hero_container .hero_image img{
		height:90%;
		position:relative;
		z-index:9;
	}
	.hero .hero_container .hero_content{
		height:100%;
		width:50%;
		position:relative;
		top:auto;
		left:auto;
		z-index:25;
		display:flex;
		flex-direction:column;
		justify-content:center;
		background:transparent;
		align-items:center;
	}
	/* Templates */
	
}
@media (min-width: 1200px){
	.header2 .contact_me{
		width:100%;
		height:40px;
		position:static;
	}
}